nodered/flows.json
[
    {
        "id": "flow_1",
        "type": "tab",
        "label": "Sensor Simulator",
        "disabled": false,
        "info": "Simulates 8 MQTT sensor topics publishing JSON data every 3 seconds"
    },
    {
        "id": "inject_1",
        "type": "inject",
        "z": "flow_1",
        "name": "Every 3s",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 200,
        "wires": [["func_temp", "func_humidity", "func_voltage", "func_current", "func_pressure", "func_power", "func_energy", "func_frequency"]]
    },
    {
        "id": "func_temp",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Temperature",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(20 + Math.random() * 70).toFixed(2),\n    humidity: +(40 + Math.random() * 30).toFixed(2),\n    voltage: +(210 + Math.random() * 30).toFixed(2),\n    current: +(5 + Math.random() * 20).toFixed(2),\n    pressure: +(980 + Math.random() * 60).toFixed(2)\n});\nmsg.topic = 'sensor/temperature';\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 80,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_humidity",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Humidity",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(18 + Math.random() * 25).toFixed(2),\n    humidity: +(20 + Math.random() * 80).toFixed(2),\n    voltage: +(200 + Math.random() * 50).toFixed(2),\n    current: +(2 + Math.random() * 15).toFixed(2),\n    pressure: +(950 + Math.random() * 100).toFixed(2)\n});\nmsg.topic = 'sensor/humidity';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 140,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_voltage",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Voltage",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(22 + Math.random() * 30).toFixed(2),\n    humidity: +(45 + Math.random() * 25).toFixed(2),\n    voltage: +(170 + Math.random() * 100).toFixed(2),\n    current: +(3 + Math.random() * 28).toFixed(2),\n    pressure: +(990 + Math.random() * 40).toFixed(2)\n});\nmsg.topic = 'sensor/voltage';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_current",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Current",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(25 + Math.random() * 40).toFixed(2),\n    humidity: +(30 + Math.random() * 40).toFixed(2),\n    voltage: +(215 + Math.random() * 25).toFixed(2),\n    current: +(1 + Math.random() * 32).toFixed(2),\n    pressure: +(970 + Math.random() * 80).toFixed(2)\n});\nmsg.topic = 'sensor/current';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 260,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_pressure",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Pressure",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(15 + Math.random() * 35).toFixed(2),\n    humidity: +(50 + Math.random() * 30).toFixed(2),\n    voltage: +(220 + Math.random() * 20).toFixed(2),\n    current: +(4 + Math.random() * 10).toFixed(2),\n    pressure: +(880 + Math.random() * 250).toFixed(2)\n});\nmsg.topic = 'sensor/pressure';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_power",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Power",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(30 + Math.random() * 50).toFixed(2),\n    humidity: +(35 + Math.random() * 35).toFixed(2),\n    voltage: +(205 + Math.random() * 40).toFixed(2),\n    current: +(6 + Math.random() * 18).toFixed(2),\n    pressure: +(1000 + Math.random() * 50).toFixed(2)\n});\nmsg.topic = 'sensor/power';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 380,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_energy",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Energy",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(20 + Math.random() * 20).toFixed(2),\n    humidity: +(55 + Math.random() * 20).toFixed(2),\n    voltage: +(225 + Math.random() * 15).toFixed(2),\n    current: +(8 + Math.random() * 12).toFixed(2),\n    pressure: +(995 + Math.random() * 30).toFixed(2)\n});\nmsg.topic = 'sensor/energy';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 440,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "func_frequency",
        "type": "function",
        "z": "flow_1",
        "name": "Gen Frequency",
        "func": "msg.payload = JSON.stringify({\n    temperature: +(28 + Math.random() * 60).toFixed(2),\n    humidity: +(25 + Math.random() * 50).toFixed(2),\n    voltage: +(190 + Math.random() * 70).toFixed(2),\n    current: +(0.5 + Math.random() * 35).toFixed(2),\n    pressure: +(910 + Math.random() * 200).toFixed(2)\n});\nmsg.topic = 'sensor/frequency';\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 500,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "flow_1",
        "name": "Publish to MQTT",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_cfg",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_broker_cfg",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "nodered-simulator",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": ""
    }
]
